* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", serif;
}

body {
  height: max-content;
  width: 100vw;
  color: white;
}

.main-header {
  width: 100%;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-section {
  padding-top: 3.75rem;
  height: 1100px;
  width: 100%;
  background-image: url(images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 100%;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 18.75rem;
  list-style: none;
}

.smile-img-header {
  width: 167px;
  height: 30px;
}

.smile-image {
  width: 43.67px;
  height: 35.35px;
}

a {
  text-decoration: none;
  color: white;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-size: 7.5rem;
}

.register-btn {
  width: 10.125rem;
  height: 2.813rem;
  background-color: #c271ff;
  border-radius: 22px;
  border: solid 1px transparent;
  margin-bottom: -15px;
  margin-top: 30px;
  cursor: pointer;
  color: white;
}

.span-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.pro-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-pro {
  font-weight: lighter;
  font-size: 2rem;
  margin-bottom: 40px;
}

strong {
  color: #c271ff;
  font-weight: bold;
  font-size: 32;
}

.pro-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: auto;
}

.pro-boxes {
  width: 25fr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pro-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  display: block;
}

.pro-id {
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  line-height: 24px;
  text-align: center;
}

.pro-img {
  width: 10rem;
  height: 10rem;
  border-radius: 75px;
}

.quote-section {
  width: 100%;
  height: 400px;
  background-color: #c271ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.quote-img {
  height: 160px;
  width: 160px;
  border-radius: 80px;
}

.quote-word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 730px;
  height: 160px;
  gap: 10px;
}

.weather-name {
  font-size: 22px;
  font-weight: 100;
  font-style: italic;
}

.philip-pro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.philip-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 20px;
}

.star-logo {
  display: flex;
  align-items: center;
  justify-content: ;
}

.tutorial-section {
  width: 100%;
  height: 625px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tutorial-header {
  font: size 32px;
  font-weight: 300;
}

.main-tutorial-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 1228px;
  height: 450px;
  flex-wrap: wrap;
}

.tutorial-boxes {
  color: black;
  width: 15rem;
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.tutorial-images {
  width: 225px;
  height: 154px;
  border-radius: 5px;
}

.tutor-head {
  font-size: 16px;
  font-weight: bold;
}

.tutor-description {
  font-size: 14px;
  color: #979797;
  line-height: 24px;
}

.logo-star {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5.5rem;
}

.star-logo {
  color: #c271ff;
}

.membership-section {
  width: 100%;
  height: 502px;
  background-color: #071629;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.member-header {
  font-size: 32px;
  font-weight: lighter;
}

.members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.member-box {
  display: flex;
  flex-direction: column;
  width: 257px;
  height: 153px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.member-detail {
  text-align: center;
}

.faq-section {
  color: black;
  width: 100%;
  height: 858px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.faq-grids {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.faq-heading {
  margin-top: -350px;
  color: #071629;
  font-size: 60px;
  font-weight: 200;
}

.faq-description-head {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.faq-description {
  font-size: 14px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  color: #979797;
}

.faq-boxes {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 242px;
  gap: 30px;
}

footer {
  width: 100%;
  height: 249px;
  background-color: #071629;
}

.footer-section {
  width: 100%;
  height: 249px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 50px;
}

.icon-box {
  width: 25px;
  height: 25px;
}

.ending {
  font-size: 12px;
  opacity: 35.17%;
}
